
$siteDark: #262626;
$siteLight: #757575;
$siteOrange: #ffcc66;
$siteSalmon: #F9AD81;
$siteYellow: #FFF799;
$siteGreen: #82CA9C;
$neonGreen: #ccff66;
$siteBlue: #6DCFF6;

body{
  position: relative;
  background: white;
  // background: $siteSalmon;
  color: $siteLight;
  font-family: 'Helvetica';
}
a{
  text-decoration: none;
  color:inherit;
  &:hover{
    border-bottom:1px solid white;
  }
}
.linkColor{
  color:$siteSalmon;
  transition: color .5s;
  &:hover{
    color:$siteGreen;
  }
}
.demo__title{
  position: relative;
  height: 10rem;
}
.demo__header{
  top:0;
  font-size:3rem;
  display: block;
  opacity: 0;
  top:-300%;
  left: 0;
  position: absolute;
  transition: top .6s;
  margin: 0;
  margin-top:3rem;
  padding:1rem;
  width: 100%;
}
.showHeader{
  opacity: 1;
  top:0;
}
.content{
  // position: relative;
  width: 100%;
  margin:0;
  // background: $siteSalmon;
  background: white;
}
.content__blurb{
  line-height: 1.3;
  letter-spacing: .8;
}
.content__img{
  display: none;
}
.content__details{
  position: relative;
  width: 100%;
  height: 40rem;
}
.content__text{
  position: absolute;
  background: white;
  opacity:0;
  width: 85%;
  margin: auto;
  transition: left .3s, opacity 1s;
  padding:0 1rem;
}

.showText{
  opacity:1;
}

nav{
  position: fixed;
  background: white;
  z-index: 3;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  h1{
    margin: 0;
    text-align: center;
    width: 50%;
    height: 100%;
    cursor: pointer;
  font-weight: lighter;
  }
}
.nav__list{
  display: none;
}

@media screen and (min-width: 640px){
  .demo__header{
    margin-left:2rem;
  }
.content{
  width: 95%;
  height: 320px;
  max-width: 800px;
  margin:auto;
  display: flex;
  padding: 0;

}
.content__img{
  position: relative;
  display: block;
  width: 40%;
  background: rgba(0, 0, 0, 0);
  margin-left: 1rem;
  overflow: hidden;
  img{
    position: absolute;
    width: 100%;
    bottom:-100%;
    opacity: 0;
    transition: opacity 2s, bottom .8s;
  }
}
img.twitter_logo{
  width: 25%;
}
img.showImg{
  opacity: 1;
  bottom:50px;
}
img.showImg.twitter_logo{
  bottom:200px;
}
.content__details{
  position: relative;
  height: auto;
  order:-1;
  width: 55%;
}
.content__text{
  background: none;
  padding: 0;
  opacity: 0;
  width: 100%;
  left:-150%;
  position: absolute;
}
.showText{
  opacity:1;
  left: 0;
}

nav{
  h1{display: none;}
  display: block;
}
.nav__list{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding:0;
    li{
      cursor: pointer;
      transition: color .5s;
      &:hover{
        color:$siteGreen;
      }
      &:after{
        content:'';
        padding:0;
        left:0;
        bottom:0;
      }
      &:hover:after{
        height: 1rem;
        width: 15%;
        background:$siteBlue;
        position: absolute;
      }
    }
    li:nth-child(2){
      &:hover:after{
        width: calc(40% - 3rem);
      }
    }
    li:nth-child(3){
      &:hover:after{
        width: calc(60% - 2rem);
      }
    }
    li:nth-child(4){
      &:hover:after{
        width: calc(80% - 2rem);
      }
    }
    li:nth-child(5){
      &:hover:after{
        width: 97%;
      }
    }
  }
  img.invisible{
    display: none;
  }
  .highlight{
    color:$siteSalmon;
  }
}

@media screen and (max-height: 1000px){
  img.showImg{
    bottom:95px;
  }
}
